{% extends 'template.html' %}
{%load static%}

{%block content%}


<!--//////////////////    our Gallery ////////////-->

<section>
    <br>
    <h2 class="center-align #4db6ac teal-text "><b>Our Gallery</b></h2>
</section>

<div class="row">
    <div class="col s4  offset-s4">
        <hr>
    </div>
    <br>
    <br>
    <div/>

    <!--//////// gallery images  ...1st... row   //////-->

    <div class="row">
        {%with a=0 b=2 %}

        {% for gallery in gallery %}
        <div class="col m2 s4">

            {% if gallery.upload_video %}
            <video class="responsive-video" controls>
                <source src="{{gallery.upload_video}}" type="video/mp4">
            </video>
            {% elif gallery.pic_url%}
            <img src="{{gallery.pic_url}}"
                 style="height:120px; width:300px;"
                 class="responsive-img materialboxed hoverable center z-depth-5"
                 data-caption="{{gallery.caption}}">
            {% else %}
            <img src="{{gallery.upload_pic}}"
                 style="height:120px; width:300px;"
                 class="responsive-img materialboxed hoverable center z-depth-5"
                 data-caption="{{gallery.caption}}">
            {% endif %}
            {% a = a+1 %}
            {% if a==6 %}
            <br><br>
            {% endif %}
                {% endwith %}

        </div>
        {% endfor %}
    </div>


    {%endblock content%}