{% extends 'template.html' %}
{%load static%}

{%block content%}


<!--//////////////////    our Gallery ////////////-->

<section>
    <br>
    <h2 class="center-align #4db6ac teal-text "><b>Our Gallery</b></h2>
</section>

<div class="row">
    <div class="col s4  offset-s4">
        <hr>
    </div>
    <br>
</div>

<!--//////// gallery images  ...1st... row   //////-->

<div class="row">

    {% for gallery in gallery %}
    <div class="col m2 s4" style="padding:8px;">

        {% if gallery.upload_video %}
        <video class="responsive-video" controls>
            <source src="{{gallery.upload_video}}" type="video/mp4" style="max-height:120px; ">
        </video>
        {% elif gallery.pic_url%}
        <img src="{{gallery.pic_url}}"
             style="max-height:120px; "
             class="responsive-img materialboxed hoverable center z-depth-5"
             data-caption="{{gallery.caption}}">
        {% else %}
        <img src="studio/media/{{gallery.upload_pic}}"
             style="max-height:120px; "
             class="responsive-img materialboxed hoverable center z-depth-5"
             data-caption="{{gallery.caption}}">
        {% endif %}

    </div>
    {% endfor %}
</div>


{%endblock content%}